<h2>Upcoming Games</h2>
<mat-card>
    <div class="btn-group" role="group" aria-label="sortGroup">
        <button type="button" mat-raised-button [color]="sortBy == 'Location' ? 'primary' : ''" (click)="setSortBy('Location')">Location</button>
        <button type="button" mat-raised-button [color]="sortBy == 'Date' ? 'primary' : ''" (click)="setSortBy('Date')">Date</button>
    </div>
    <a routerLink="/add-game">
      <button mat-raised-button color="primary" type="button" style="float: right">
          <i class="fa fa-plus pointer" style="color: greenyellow;"> </i> Add Game
        </button>
    </a>
    <mat-accordion>
        <game-card *ngFor='let game of games, let i = index' [game]="game" [index]="i" (deleteGameEvent)="deleteGame($event)"></game-card>
    </mat-accordion>
</mat-card>
