<mat-toolbar color="primary">
    <span>
        <a routerLink="/games" style="color: white">Pick Up Soccer</a>
    </span>
    <span class="fill-center-space"></span>
    <span class="pointer" style="float: right" [matMenuTriggerFor]="menu">
        {{userName}} <i class="fa fa-bars"></i>
    </span>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Edit Profile</button>
    <button mat-menu-item>Log Out</button>
  </mat-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>
